li {
  font-family: 'Abril Fatface', cursive;
  font-size: 20px;

}

h1 {
font-family: 'Abril Fatface', cursive;
  font-size: 50px;
  text-align: center;
}

h2 {
font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  text-align: center;
}



p {
font-family: 'Open Sans', sans-serif;
font-size: 25px
}

a{
  font-size: 20px;
}
